@media(max-width: 1200px){
    .grid__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        padding: 10px 40px;
        gap: 10px;

        justify-items: center;
        align-items: center;

        justify-content: center;
        align-content: center;
    }
    .box{
        width: 100%;
        height: 100%;
        min-height: 250px;
    }
    .box1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .box2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .box3{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .box4{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .box5{
        grid-column: 2/3;
        grid-row: 3/5;
    }
    .box6{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

@media(max-width: 768px){
    .grid__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        padding: 10px 30px;
        gap: 10px;

        justify-items: center;
        align-items: center;

        justify-content: center;
        align-content: center;
    }
    .box{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
    }
    .box1{
        grid-row: 1/2;
    }
    .box2{
        grid-row: 2/3;
    }
    .box3{
        grid-row: 3/4;
    }
    .box4{
        grid-row: 4/5;
    }
    .box5{
        grid-row: 5/6;
    }
    .box6{
        grid-row: 6/7;
    }
}