/* Importação da fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Definição das variáveis de cores e gradientes */
:root {
    --header-dark: #750000;
    --header-base: #830101;
    --header-light: #a30000;

    --text-dark: black;
    --text-light: white;

    --salgados-accent1: rgb(134,248,35);
    --salgados-accent2: rgb(125, 215, 189);
    --frutas-bg: darkcyan;
    --doces-bg: darkgoldenrod;
    --sucos-bg: darkmagenta;
    --lanches-bg: lightgray;
    --pizzas-bg: lightsalmon;
    --bg: blue;
    
    --header-gradient: linear-gradient(to right, var(--header-base), var(--header-dark));
    --container-gradient: linear-gradient(to right, var(--header-light), var(--header-dark));
    --salgados-gradient: linear-gradient(to left, var(--salgados-accent1), var(--salgados-accent2));
}