*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 4px double white;
}

html{
    background-image: linear-gradient(to bottom, brown, black);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;

    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;
    
    width: 100vw;
    height: 100vh;
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.box1{
    background-color: burlywood;
    grid-column: 1/3;
    width: 400px;
}
.box2{
    background-color: cyan;
    grid-column: 3/4;
    grid-row: 1/3;
}
.box3{
    background-color: darkmagenta;
}
.box4{
    background-color: darkslategray;
    grid-column: 2/3;
    grid-row: 2/4;
}
.box5{
    background-color: blueviolet;
}
.box6{
    background-color: goldenrod;
}